body{
    background-color: #343D46 ;
}

._header_{
    display: flex;
    background-color: black;
    width: 100%;
    height: 165px;
    border-radius: 0 0 35px 35px;
}

._circle_logo_ {
    margin-top: 20px;
    margin-left: 20px;
    width: 120px; /* Задайте ширину и высоту контейнера */
    height: 120px;
    border-radius: 50%; /* Задайте радиус закругления, чтобы сделать контейнер круглым */
    overflow: hidden; /* Обрезать изображение, если оно выходит за пределы контейнера */
}

._circle_logo_ img {
    width: 100%; /* Задайте ширину изображения в 100% от родительского контейнера */
    height: 100%; /* Задайте высоту изображения в 100% от родительского контейнера */
    object-fit: cover; /* Масштабировать изображение, чтобы оно заполнило всю область окружности */
    border: 4px solid #fff; /* Опционально: добавьте белую обводку окружности */
}

._word_logo_{
    margin-left: 38px;
    margin-top: 20px;
}

._name_of_shop_ {
    color: #fff;
    text-align: center;
    margin-bottom: 4px;
}

._link_to_store_ {
    width: 204px;
    height: 42px;
    background-color: #343D46;
    border-radius: 26px;
}