body {
  background-color: #343D46;
}

.header {
    height: 165px;
    background-color: black;
    border-radius: 0 0 45px 45px;
}

.photo-container {
    margin-top: 20px;
    width: 135px; 
    height: 135px;
    border-radius: 50%; /* Это свойство делает контейнер и, следовательно, изображение круглым */
    overflow: hidden; /* Это свойство обрежет изображение круглой формой */
  }
  
  .photo-container img {
    width: 100%; /* Это свойство обеспечивает, что изображение заполнит весь контейнер */
    height: auto; /* Это сохранит соотношение сторон изображения */
  }

  .inf-block {
    font-family: 'Indie Flower', cursive;
  }


  /* Стили блока с названием магазина */
  .store-name {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    text-align: center;
    color: white;
    margin-top: 50px;
    margin-bottom: 4px;
    font-size: 20px;
  }


  /* Стили блока со ссылкой */
  .store-url {
    border-radius: 26px;
    background-color: #343D46;
    color: white;
    height: 40px;
  }


  /* Стили логотипа Telegram */
  .tg-logo {
    margin-left: -10px;
    margin-right: 10px;
    display: flex;
    
  }


  /* Стили текста ссылки */
  .text-url {
    display: flex;
    justify-content: center; /* Выравнивание по горизонтали */
    align-items: center;
    font-size: 17px;
  }

  /* Стили url ссылки */
  .text-url a {
    color: white;
  }

  /* Стили надписи каталог */
  .catalog-title {
    margin-top: 18px;
    margin-bottom: 18px;
    color: #FFF;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  .product-row {
    margin-bottom: 10px;
  }

  /* Стили карточки  */
  .product-card {
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-family: Inter;
    position: relative;
    padding: 0;
    background-color: black;
    border-radius: 35px;
    height: 265px;
    width: 160px;
    margin-left: 8px;
    margin-right: 8px;
    overflow: hidden;
  }
  

/* Карточка для ровной разметки */
  .none {
    position: relative;
    background-color: #343D46;
    height: 265px;
    width: 160px;
    padding: 0;
    margin: 0 8px
  }

/* Стили фото карточки */
  .product-card img {
    border-radius: 35px;
    color: white;
    width: 100%;
    max-height: auto ;
  }

/* Оформление цены краточки */
  .product-price {
    position: relative;
    text-align: center;
    color: black;
    margin-top: 10px;
    background-color: #FFF;
    width: 100%;
    height: 100%;
    padding-top: 8px;
  }

/* Оформления текста карточки  */
  .card-text {
    width: 150px;
    padding-left: 10px;
    padding-right: 10px;
    height: 32px;
    margin-top: 8px;
    color: white;
    font-size: 16px;
  }

/* Оформления части карточки с текстом в для маленького экрана */
@media screen and (max-width: 380px) { 
  .card-text {
    margin-top: 16px;
    font-size: 14px;
  }
  .product-price {
    margin-top: 20px;
  }
}

@media  screen and (min-width: 400px) {
  .product-card {
    max-width: 185px;
    margin-left: 12px;
  }
}