.header {
    height: 165px;
    background-color: black;
    border-radius: 0 0 45px 45px;
}

.photo-container {
    margin-top: 20px;
    width: 120px; /* Задайте желаемую ширину и высоту, чтобы создать круглое изображение */
    height: 120px;
    border-radius: 50%; /* Это свойство делает контейнер и, следовательно, изображение круглым */
    overflow: hidden; /* Это свойство обрежет изображение круглой формой */
  }
  
  .photo-container img {
    width: 100%; /* Это свойство обеспечивает, что изображение заполнит весь контейнер */
    height: auto; /* Это сохранит соотношение сторон изображения */
  }

  .store-name {
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 4px;
  }

  .store-url {
    border-radius: 26px;
    background-color: #343D46;
    color: white;
    height: 40px;
  }

  .tg-logo {
    margin-left: -4px;
    margin-right: 4px;
    display: flex;
    align-items: center;
  }

  .text-url {
    display: flex;
    justify-content: center; /* Выравнивание по горизонтали */
    align-items: center;
    font-size: 16px;
  }