html, body {
    overflow-x: hidden;
  }
  
body {
    background-color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}

.back-img {
    padding-top: 5px;
    padding-left: 5px;
    background-color: white;
}

.aSizeOfProduct img {
    width: 20px;
    height: auto;
}

.photos {
    background-color: white;
}

.header {
    background-color: white;
    height: auto;
}

.photo-count {
    font-size: 18px;
    text-align: center;
    border-radius: 40px;
    color: white;
    background-color: black;
}

.product-name { 
    margin: 12px 0 6px 0;
    font-size: 21px;
    font-family: 'Sansita', sans-serif;
}

/* Блок цена товара */
.product-price {
    /* Оформление блока */
    background-color: #333333;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    height: auto;
    padding: 9px 0 9px 0 ;

    /* Оформление текста */
    color: white;
    text-align: center;
    font-size: 21px;
}

.product-price-text { 
    border-bottom: 1px solid #696969;
    padding: 0 0 10px 0;
}

/* Устанавливаем фон */
.backdroundCharacteristics {
    background-color: black;
}

/* Характеристики товара */
.characteristics {
    background-color: #333333;
    color: white;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

/* Характеристики-заголовок товара */
.characteristicsHeader {
    font-weight: 800;
    font-size: 21px;
    margin-bottom: 8px;
}

/* характеристики-текст */
.characteristicsText {
    font-weight: 600;
    padding-bottom: 20px;
}

/* Аккардеон с информацией */
.informationAccardionBtn {
    width: 100%;
    border: 0px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 25px;

    /* Оформления текста кнопки */
    text-align: left;
    background-color: #333333;
    color: white;
    font-weight: 800;
}

/* Иконка-стрелка внутри кнопки */
.informationAccardionBtn img {
    margin-top: -10px;
    padding-left: 10px;
}


/* ==========================
Настрокйи верхней части аккардеона
=============================*/

/* Оформление верхней кнопки */
#topAccardion {
    margin-top: 8px;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
}

/* Открытвающийся блок */
#topBlockInAccardeon {
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
    background-color: #333333;

    /* Оформление текста */
    color: white;
}

/* Закрытое состояние блока */
#topBlockInAccardeon.collapsed {
    height: 0;
}

/* Открытое сосотояние блока */
#topBlockInAccardeon.expanded {
    height: auto;
    padding-bottom: 8px;
    padding-top: 8px;
    font-weight: 400;
}

/* ==========================
Настрокйи срдней части аккардеона
=============================*/
#midBlockInAccardeon {
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
    background-color: #333333;

    /* Оформление текста */
    color: white;
}

/* Закрытое состояние */
#midBlockInAccardeon.collapsed {
    height: 0;
}

/* Открытое состояние */
#midBlockInAccardeon.expanded {
    height: auto;
    padding-bottom: 8px;
    padding-top: 8px;
    font-weight: 400;
}

/* ==========================
Настрокйи нижней части аккардеона
=============================*/
#bottomBlockInAccardeon {
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
    background-color: #333333;

    /* Оформление текста */
    color: white;
}

/* Закрытое состояние */
#bottomBlockInAccardeon.collapsed {
    height: 0;
}

/* Открытое состояние */
#bottomBlockInAccardeon.expanded {
    height: auto;
    padding-bottom: 8px;
    padding-top: 8px;
    font-weight: 400;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

/* Настройка закругления кнопки */
#bottomAccardion {
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}




.aSizeOfProduct {
    
    color: white;
    text-decoration: none;    
}


.horizontal-scroll {
    margin: 8px 0 0 0;
    width: 100%; /* Ширина контейнера, по желанию */
    overflow-x: auto; /* Включить горизонтальную прокрутку */
  }
  
  .reviews {
    margin-top: 8px;
    position: relative;
    border-radius: 35px;
    background-color: #333333;
    color: white;
  }

  .name-block {
    padding: 20px 12px 8px;
    font-size: 21px;
    font-family: 'Inter', sans-serif;
  }  

  .reviews-photos {
    white-space: nowrap; /* Предотвратить перенос строк */
    padding-bottom: 25px;
  }

  .reviews-photos img{
    padding-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    height: 140px;
    width: auto;
  }
  
.all-reviews {
    border: 1px solid white;
    margin-top: 8px;
    background-color: #333333;
    padding: 0.75rem 0.375rem;
    text-align: center;
    border-radius: 35px;
}
