body{
    background-color: #333333;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}

/* Заголок страницы с размерными рядами */
.sizeTitle {
    color: white;
    margin: 20px 0;
    text-align: center;
    font-size: 21px;
    
}

/* Подпись таблицы */
.titleOfTable {
    padding: 5px;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.horizontal-scroll {
    margin: 8px 0 0 0;
    width: 100%; /* Ширина контейнера, по желанию */
    overflow-x: auto; /* Включить горизонтальную прокрутку */
  }