body{
    background-color: #333333;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}

/* Заголок страницы с размерными рядами */
.sizeTitle {
    color: white;
    margin: 40px 0;
    text-align: center;
    font-size: 21px;
    
}

/* Подпись таблицы */
.titleOfTable {
    padding: 5px;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.horizontal-scroll {
    margin: 8px 0 0 0;
    width: 100%; /* Ширина контейнера, по желанию */
    overflow-x: auto; /* Включить горизонтальную прокрутку */
  }

.backButton{
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
}

.back-img {
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}
.back-img img {
    width: 20px;
    height: auto;
}